# Dependencies
node_modules/

# Firebase service account key (very sensitive!)
serviceAccountKey.json

# Optional good practice
.env

# image 
image.png
image-1.png

# ignore
package.json
package-lock.json